.partner-logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 40px;
}

/* Tablet */
@media (max-width: 1250px) {
  .partner-logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 1050px) {
  .partner-logos {
    grid-template-columns: 1fr;
  }
}

.partner-logos a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(80px, 10vw, 130px);
}

.partner-logos img {
  height: clamp(70px, 8vw, 110px);
  width: auto;
  object-fit: contain;
}
